name: TESTNET - Deploy API
on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy Testnet API
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME_TESTNET }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
